section#accesorios{
	&.bg-accesorios{
		position: relative;
	    background-image: url(../img/bg-accesorios.jpg);
	    height: 100%;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

}
