section#contacto{
	min-height: 480px;
	background-color: white;
	position: relative;
	padding-top: 90px;
	@media(max-width:767px){
		padding-top:50px;
		min-height: 450px;
	}
	h2{
		font-family: $font;
		@include font-size(16px);
		color: $azul;
		text-transform: uppercase;
		margin-bottom: 30px;
		font-weight: $bold;

	}
	form#mainContact{

		.form-group{
			margin-bottom: 30px;
			textarea{
				 resize: none;
				 min-height: 170px;
				 padding: 15px;
			}
			#email-error{
				&.error{
					margin-top: 20px;
					color: tomato;
				}
			}


			.form-control{
				background-color: white;
				color: $azul;
				text-transform: uppercase;
				padding-left: 20px;
				border-radius:0;
				border: 1px solid $azul;
				font-family: $font;
				font-size: 16px;
				box-shadow: none;

			}
			::-webkit-input-placeholder {
			  		color: $azul;
			  		font-family: $font;
					font-size: 16px;
					text-transform: uppercase;
				}
				::-moz-placeholder {
					color: $azul;
					font-family: $font;
					font-size: 16px;
					text-transform: uppercase;
				}
				:-moz-placeholder{
					color: $azul;
					font-family: $font;
					font-size: 16px;
					text-transform: uppercase;
				}
				:-ms-input-placeholder {
					color: $azul;
					font-family: $font;
					font-size: 16px;
					text-transform: uppercase;
				}

		}
		.btn-enviar{
			background-color: $amarillo;
			color: white;
			text-transform: uppercase;
			padding: 10px 60px 5px 60px;
			border-radius: 0;
			border: none;
			font-family: $font;
			font-weight: $bold;
			font-size: 14px;
			width: 100%;
		}

	}
}

