.hamburger{
	position:fixed;
	top:20px;
	left: 40px;
	z-index: 1002;
	outline: none;
	padding: 12px 10px 7px 10px;

	@media(max-width:1280px){
		left: 0;
	}
	@media(max-width:991px){
		left: 20px;
		top: 20px;
	}
	@media(max-width:767px){
		left: 0px;
		top: 0px;
	}
}
#main_nav{
	min-height: 100px;
	background-color: $azul;
	opacity: 0.95;
	border: none;
	margin-bottom: 0;
	transform: translate3d(0,-100px,0);
	transition:all 0.4s ease-out;
	z-index: 1001;
	&.show-nav{
		transform: translate3d(0,0,0);
	}
	@media(max-width:991px){
		//min-height:100vh;
	}

	#navbar{
		margin-top:25px;
		border:none;
		box-shadow:none;
		ul{

			li{
				&.logo{
					display:none;
					@media(max-width:991px){
						display:block;
					}
					img{
						width: 100px; height: auto;
					}

				}

				margin-right: 20px;
				@media(min-width:991px) and (max-width:1200px){
					margin-right:10px;
				}
				&:last-child{
					margin-right: 0;
				}
				&.active{
					a{
						color: $amarillo;
						background-color: transparent;
					}
				}
				a{
					font-family: $font;
					font-weight: $bold;
					@include font-size(18px);
					color: white;
					text-transform: uppercase;
					transition: all .3s ease-out;
					background: none;
					background-position: bottom;
					&:hover{
						color: $amarillo;
						background: url('../img/underline.png') repeat-x;
						background-position: bottom;
						@media(max-width: 991px){
							background: none;
						}
					}
				}
				@media(max-width: 991px){
						background: url('../img/underline.png') repeat-x;
						background-position: top;
						margin-right: auto;
						margin-left: auto;
						margin-bottom: 20px;
						padding: 20px 0 0 0;
						&:first-child{
							background:none;
							padding:0;
						}
						@media(max-width:991px){
							margin-bottom: 15px;
							padding: 15px 0 0 0;
						}
				}
			}
		}
	}
}

