section#productos{
	overflow:hidden;
	&.bg-productos{
		position: relative;
	    background-image: url(../img/bg-productos.jpg);
	    height: 100%;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.caption-productos{
		@include centerer(true, true);
		img{
			margin-bottom: 40px;
			max-width: 400px;
		}
		@media(max-width: 767px){
			width: 90%;
			img{
				max-width:250px;
				margin: 0 auto;
				margin-bottom: 30px;
			}
		}

	}
	.slider-productos-container{
		position:relative;
		background-color: #fff;
		left: 100%;
		.btn-volver{
			@extend %btn-volver;
			position: absolute;
			z-index: 100;
			right: 20px;
			top: 20px;
			padding-left: 29px;

			img{
			//	margin-right: 10px;
				position: absolute;
				left: 11px;
				top: 8px;
			}
			span{
				display:inline-block;
			}
		}
		.slider-productos{
				position: relative;
					.item {
						position: relative;
						height: 100vh;
						background-position: center !important;
						background-repeat: no-repeat!important;
						background-size: cover !important;

				        }
				      .owl-nav{
				        margin: 0;
				        &.disabled {
				          display: none;
				        }
				      }

				  //     .owl-dots {
						// @include centerer(true, false);
						// bottom:-60px;
						// margin: 0;
						// z-index: 1000;
				  //       &.disabled {
				  //           display: none;
				  //       }
				  //       .owl-dot {
				  //       	 outline: none;
				  //           span {
				  //                border: 2px solid white;
				  //                 background: white;
				  //                 border-radius: 50px;
				  //                 height: 15px;
				  //                 width: 15px;
				  //                 cursor: pointer;
				  //                 opacity: 1;
				  //                 margin: 5px 17px;
				  //                 @media(max-width:767px){
						// 			margin: 5px 10px;
						// 		}

				  //           }
						// // boton activo
				  //            &.active span{
				  //         			background-color:black;
				  //         		}
				  //         		&:hover span{
				  //         			background-color:red;
				  //         		}
				  //         }


				  //       } // dots
				        .owl-next, .owl-prev {
				               width:58px;
				               height: 84px;
				               position: absolute;
				               text-indent: -9999px;
				               top: 50%;
				               margin-top: -42px;
				               cursor:pointer;
				                opacity: 0.9;
				              // @include transition(all 0.2s ease-in-out);
				                  &:hover {
				                   background-color: transparent;
				                   opacity: 0.5;
				                 }
				                 &.disabled{
				                 	display: none;
				                 }
				                 outline: none;
				        }

				         .owl-next {
				             background: url(../img/next.png) no-repeat !important;
				             right:0px;
				                 @media (max-width:1024px){

				               }
				                @media (max-width:768px){
				                   background: url(../img/next.png) no-repeat !important;
				                   right: 0px;
				                   margin-top: -42px;
				               }
				         }
				         .owl-prev {
				             background: url(../img/prev.png) no-repeat !important;
				             left: 0px;
				             @media (max-width:1024px){

				             }
				               @media (max-width:768px){
				                   background: url(../img/prev.png) no-repeat !important;
				                   left: 0px;
				                   margin-top: -42px;
				               }
				         }




		}
	}


}
