section#video_top{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;

	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
		height: auto;
	}
	.video-container {
	 	 video#video-intro-lg {
	 	    width: 100%;
	 	    max-width: 1920px;
	 	    position: relative;
			object-fit: cover;
			object-position: center center;
	 	    @media(max-width:768px){
	 			display: none;
	 	    }
	 	}

	 	 video#video-intro-xs {
	 		display: none;
	 		@media(max-width:768px){
	 			overflow: hidden;
				width: 100%;
				height: 100vh;
				display:block;
				object-fit: cover;
				object-position: center center;
				max-width:768px;
	 		}
	 	}

	}

	.to-bottom{
			@include centerer(true, false);
			bottom: 5vh;
			z-index: 1000;
			transition: all .2s ease-out;
			&:hover{
				bottom: 4vh;
				@media(max-width:1024px){
					bottom:5vh;
				}
			}
			a{
				display: inline-block;
				cursor: pointer;
				text-decoration: none;
				text-align: center;



				p{
					font-family: $regular;
					@include font-size(14px);
					color: white;
					text-transform: uppercase;
					text-align: center;
					letter-spacing: 2px;
					margin-bottom: 0px;
				}
				img{
					@media(max-width:1024px){
						max-width: 50px;
						height: auto;
					}
					@media(max-width:767px){
						max-width: 30px;
					}
				}
			}
			@media(max-width:1024px){
				bottom: 30px;
			}
			@media(max-width:768px){
			//	display:none;
				bottom: 10px;
			}
			@media(max-width:767px){
			//	display:none;
				bottom: 10px;
			}
	}
		.slider-video{
			@include centerer(true, true);
			//display: block;
		//	top: 42%;
			@media(max-width: 767px){
				top: 50%;
			}
			.owl-item{
				img{
					max-width: 900px;
					height: auto;
					margin: 0 auto;
				}
			}
		}
} // section top
