@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700");
* { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

body, html { height: 100%; }

html { position: relative; font-size: 100%; }

body { position: relative; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 400; }

/* remover bordes de links
---------------------------------------*/
a:focus, input[type="text"] { outline: none !important; }

/* color del focus inputs
---------------------------------------*/
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus { border-color: none; -webkit-box-shadow: none; box-shadow: none; outline: 0 none; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger { padding: 15px 15px; display: inline-block; cursor: pointer; -webkit-transition-property: opacity, -webkit-filter; transition-property: opacity, -webkit-filter; transition-property: opacity, filter; transition-property: opacity, filter, -webkit-filter; -webkit-transition-duration: 0.15s; transition-duration: 0.15s; -webkit-transition-timing-function: linear; transition-timing-function: linear; font: inherit; color: inherit; text-transform: none; background-color: transparent; border: 0; margin: 0; overflow: visible; }
.hamburger:hover { opacity: 0.7; }

.hamburger-box { width: 40px; height: 24px; display: inline-block; position: relative; }

.hamburger-inner { display: block; top: 50%; margin-top: -2px; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after { width: 40px; height: 4px; background-color: #ffbb00; border-radius: 0px; position: absolute; -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; transition-property: transform; transition-property: transform, -webkit-transform; -webkit-transition-duration: 0.15s; transition-duration: 0.15s; -webkit-transition-timing-function: ease; transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after { content: ""; display: block; }
.hamburger-inner::before { top: -10px; }
.hamburger-inner::after { bottom: -10px; }

/* Spin */
.hamburger--spin .hamburger-inner { -webkit-transition-duration: 0.22s; transition-duration: 0.22s; -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spin .hamburger-inner::before { -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
.hamburger--spin .hamburger-inner::after { -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spin.is-active .hamburger-inner { -webkit-transform: rotate(225deg); transform: rotate(225deg); -webkit-transition-delay: 0.12s; transition-delay: 0.12s; -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
.hamburger--spin.is-active .hamburger-inner::before { top: 0; opacity: 0; -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
.hamburger--spin.is-active .hamburger-inner::after { bottom: 0; -webkit-transform: rotate(-90deg); transform: rotate(-90deg); -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

.checkbox label:after, .radio label:after { content: ''; display: table; clear: both; }

.checkbox .cr, .radio .cr { position: relative; display: inline-block; border: 1px solid #a9a9a9; border-radius: 4px; width: 1.3em; height: 1.3em; float: left; margin-right: .5em; }

.radio .cr { border-radius: 50%; }

.checkbox .cr .cr-icon, .radio .cr .cr-icon { position: absolute; font-size: .8em; line-height: 0; top: 50%; left: 20%; }

.radio .cr .cr-icon { margin-left: 0.04em; }

.checkbox label input[type="checkbox"], .radio label input[type="radio"] { display: none; }

.checkbox label input[type="checkbox"] + .cr > .cr-icon, .radio label input[type="radio"] + .cr > .cr-icon { -webkit-transform: scale(3) rotateZ(-20deg); transform: scale(3) rotateZ(-20deg); opacity: 0; -webkit-transition: all .3s ease-in; transition: all .3s ease-in; }

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon, .radio label input[type="radio"]:checked + .cr > .cr-icon { -webkit-transform: scale(1) rotateZ(0deg); transform: scale(1) rotateZ(0deg); opacity: 1; }

.checkbox label input[type="checkbox"]:disabled + .cr, .radio label input[type="radio"]:disabled + .cr { opacity: .5; }

.navbar-collapse { max-height: 100% !important; }

.center-block { display: table; margin: 0 auto; }

.clear { clear: both; display: block; margin: 0; padding: 0; }

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }

.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.video-container { position: relative; display: block; }
.video-container .bg-video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center; background-size: cover; z-index: 2; }
.video-container .bg-video.open { visibility: hidden; opacity: 0; -webkit-transition: all .6s .8s; transition: all .6s .8s; }
.video-container .bg-video .bt-play { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); display: inline-block; cursor: pointer; z-index: 2; background-color: transparent; border: none; opacity: 1; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; }
.video-container .bg-video .bt-play:hover, .video-container .bg-video .bt-play:focus { top: 49%; opacity: 0.8; outline: none; border: none; }

.tooltip { z-index: 100000000; }

body { padding-right: 0px !important; }

.modal-open { overflow-y: auto; }

.modal { text-align: center; padding: 0 !important; }

.modal:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -4px; }

.modal-dialog { display: inline-block; text-align: left; vertical-align: middle; }

/*--*/
.no-gutter > [class*='col-'] { padding-right: 0; padding-left: 0; }

.no-padding { padding: 0 !important; display: block; }
.no-padding .row { margin-left: 0; margin-right: 0; }
@media (max-width: 991px) { .no-padding { padding-left: 15px; padding-right: 15px; } }

.no-margin { margin: 0 !important; display: block !important; }

.mb-0 { margin-bottom: 0 !important; }

.pb-0 { padding-bottom: 0 !important; }

.position-relative { position: relative !important; outline: none; }

.position-absolute { position: absolute !important; }

@media (max-width: 991px) { .navbar-header { float: none; }
  .navbar-left, .navbar-right { float: none !important; }
  .navbar-toggle { display: block; }
  .navbar-fixed-top { top: 0; border-width: 0 0 1px; }
  .navbar-collapse.collapse { display: none !important; }
  .navbar-nav { float: none !important; margin-top: 7.5px; }
  .navbar-nav > li { float: none; }
  .navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; }
  .collapse.in { display: block !important; } }
body { background-color: #fff; }

.section { display: block; }

.navbar.center .navbar-inner { text-align: center; }
.navbar.center .navbar-inner .nav { float: none; display: inline-block; vertical-align: middle; }

/*----*/
.btn-blanco { background-color: transparent; border-radius: 0; border-color: white; -webkit-box-shadow: none; box-shadow: none; font-family: "Raleway", Helvetica, Arial, sans-serif; font-weight: 700; color: white; text-transform: uppercase; font-size: 15px; padding-top: 10px; padding-bottom: 10px; padding-left: 40px; padding-right: 40px; display: block; max-width: 260px; margin: 0 auto; -webkit-transition: all .3s ease-out; transition: all .3s ease-out; }
.btn-blanco:hover { background-color: #ffbb00; color: #11233a; border-color: transparent; }

section#productos .slider-productos-container .btn-volver { background-color: transparent; border-radius: 0; border-color: white; -webkit-box-shadow: none; box-shadow: none; font-family: "Raleway", Helvetica, Arial, sans-serif; font-weight: 700; color: white; text-transform: uppercase; font-size: 15px; display: inline-block; margin: 0 auto; padding: 10px 20px 10px 20px; -webkit-transition: all .3s ease-out; transition: all .3s ease-out; }
section#productos .slider-productos-container .btn-volver:hover { background-color: #ffbb00; color: #11233a; border-color: transparent; }
section#productos .slider-productos-container .btn-volver p { margin-top: 4px; }

.bg-agegate { position: relative; background-image: url(../img/bg-agegate.jpg); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover; }

body.bg-agegate footer { background-color: transparent; min-height: 0; padding: 0; position: absolute; bottom: 0; width: 100%; text-align: center; }
body.bg-agegate footer .footer-agegate-inner { padding-bottom: 10px; }
@media (max-width: 767px) { body.bg-agegate footer .footer-agegate-inner { padding: 0 10px; padding-bottom: 10px; } }
body.bg-agegate footer .footer-agegate-inner p { font-family: 'Roboto Condensed', sans-serif; color: white; font-weight: 300; font-style: normal; text-transform: uppercase; font-size: 13px; font-size: 0.8125rem; margin: 0; }
@media (max-width: 767px) { body.bg-agegate footer .footer-agegate-inner p { font-size: 12px; font-size: 0.75rem; } }
body.bg-agegate footer .footer-agegate-inner p a { font-weight: 700; color: white; text-decoration: underline; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
body.bg-agegate footer .footer-agegate-inner p a:hover { color: #ffbb00; }

.agegate-container { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center; width: 90%; }
@media (max-width: 767px) { .agegate-container { top: 40%; } }
.agegate-container h1, .agegate-container h2 { font-family: 'Roboto Condensed', sans-serif; font-weight: 700; text-transform: uppercase; font-size: 18px; color: white; font-style: normal; margin: 0 0 20px 0; }
@media (max-width: 767px) { .agegate-container h1, .agegate-container h2 { font-size: 16px; } }
.agegate-container img.logo { max-width: 250px; height: auto; display: inline-block; margin-bottom: 30px; }
@media (max-width: 767px) { .agegate-container img.logo { max-width: 150px; margin-bottom: 10px; } }
.agegate-container form#formAgeGate { max-width: 306px; display: inline-block; }
.agegate-container form#formAgeGate .form-group { border: 3px solid #ffbb00; border-radius: 4px; width: 100%; }
.agegate-container form#formAgeGate .form-group ::-webkit-input-placeholder { color: white; font-family: 'Roboto Condensed', sans-serif; font-size: 26px; text-transform: uppercase; font-weight: 700; }
@media (max-width: 767px) { .agegate-container form#formAgeGate .form-group ::-webkit-input-placeholder { font-size: 18px; } }
.agegate-container form#formAgeGate .form-group ::-moz-placeholder { color: white; font-family: 'Roboto Condensed', sans-serif; font-size: 26px; text-transform: uppercase; font-weight: 700; }
@media (max-width: 767px) { .agegate-container form#formAgeGate .form-group ::-moz-placeholder { font-size: 18px; } }
.agegate-container form#formAgeGate .form-group :-moz-placeholder { color: white; font-family: 'Roboto Condensed', sans-serif; font-size: 26px; text-transform: uppercase; font-weight: 700; }
@media (max-width: 767px) { .agegate-container form#formAgeGate .form-group :-moz-placeholder { font-size: 18px; } }
.agegate-container form#formAgeGate .form-group :-ms-input-placeholder { color: white; font-family: 'Roboto Condensed', sans-serif; font-size: 26px; text-transform: uppercase; font-weight: 700; }
@media (max-width: 767px) { .agegate-container form#formAgeGate .form-group :-ms-input-placeholder { font-size: 18px; } }
.agegate-container form#formAgeGate .form-group .form-control { display: inline-block; max-width: 100px; text-align: left; text-align: center; background-color: transparent; border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #ffbb00; border-radius: 0; font-family: 'Roboto Condensed', sans-serif; font-weight: 700; text-transform: uppercase; font-size: 26px; color: white; font-style: normal; margin: 8px 0; }
@media (max-width: 767px) { .agegate-container form#formAgeGate .form-group .form-control { max-width: 80px; font-size: 18px; } }
.agegate-container form#formAgeGate .form-group .form-control:last-child { border-right: none; }
.agegate-container form#formAgeGate .checkbox-container { text-align: left; display: block; }
.agegate-container form#formAgeGate .checkbox-container .checkbox { margin-top: 0; margin-bottom: 0; }
.agegate-container form#formAgeGate .checkbox-container .checkbox label { color: #ffbb00; min-height: 0; padding-left: 0; margin-bottom: auto; max-width: none; float: left; margin-top: 20px; }
.agegate-container form#formAgeGate .checkbox-container .checkbox label .cr { border: 3px solid #ffbb00; font-size: 2.8em; }
.agegate-container form#formAgeGate .checkbox-container .checkbox label h2 { margin: 0; margin-left: 20px; font-size: 17px; font-size: 1.0625rem; padding: 0; }
.agegate-container form#formAgeGate .btn-aceptar { background-color: transparent; border-radius: 4px; border: 3px solid #ffbb00; color: white; font-family: 'Roboto Condensed', sans-serif; font-weight: 700; text-transform: uppercase; font-size: 20px; margin-top: 20px; -webkit-box-shadow: none; box-shadow: none; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.agegate-container form#formAgeGate .btn-aceptar:hover { background-color: #ffbb00; }
@media (max-width: 767px) { .agegate-container form#formAgeGate .btn-aceptar { margin-top: 15px; } }

.owl-carousel .owl-video-wrapper { display: block; min-height: 100%; }

.slider-home { position: relative; margin-bottom: 40px; }
.slider-home .item { position: relative; }
.slider-home .item .owl-video-wrapper { min-height: 570px; }
@media (max-width: 1024px) { .slider-home .item .owl-video-wrapper { min-height: 470px; } }
@media (max-width: 768px) { .slider-home .item .owl-video-wrapper { min-height: 360px; } }
@media (max-width: 767px) { .slider-home .item .owl-video-wrapper { min-height: 190px; } }
.slider-home .owl-nav { margin: 0; }
.slider-home .owl-nav.disabled { display: none; }
.slider-home .owl-dots { position: absolute; left: 50%; -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); bottom: -60px; margin: 0; z-index: 1000; }
.slider-home .owl-dots.disabled { display: none; }
.slider-home .owl-dots .owl-dot { outline: none; }
.slider-home .owl-dots .owl-dot span { border: 2px solid white; background: white; border-radius: 50px; height: 15px; width: 15px; cursor: pointer; opacity: 1; margin: 5px 17px; }
@media (max-width: 767px) { .slider-home .owl-dots .owl-dot span { margin: 5px 10px; } }
.slider-home .owl-dots .owl-dot.active span { background-color: black; }
.slider-home .owl-dots .owl-dot:hover span { background-color: red; }
.slider-home .owl-next, .slider-home .owl-prev { width: 31px; height: 100px; position: absolute; text-indent: -9999px; top: 50%; margin-top: -70px; cursor: pointer; opacity: 0.9; }
.slider-home .owl-next:hover, .slider-home .owl-prev:hover { background-color: transparent; opacity: 0.5; }
.slider-home .owl-next.disabled, .slider-home .owl-prev.disabled { display: none; }
.slider-home .owl-next { background: url(../img/next.png) no-repeat !important; right: -70px; }
@media (max-width: 768px) { .slider-home .owl-next { background: url(../img/next-xs.png) no-repeat !important; right: -35px; width: 22px; height: 70px; margin-top: -60px; } }
.slider-home .owl-prev { background: url(../img/prev.png) no-repeat !important; left: -70px; }
@media (max-width: 768px) { .slider-home .owl-prev { background: url(../img/prev-xs.png) no-repeat !important; left: -35px; width: 22px; height: 70px; margin-top: -60px; } }

header { position: relative; }

.hamburger { position: fixed; top: 20px; left: 40px; z-index: 1002; outline: none; padding: 12px 10px 7px 10px; }
@media (max-width: 1280px) { .hamburger { left: 0; } }
@media (max-width: 991px) { .hamburger { left: 20px; top: 20px; } }
@media (max-width: 767px) { .hamburger { left: 0px; top: 0px; } }

#main_nav { min-height: 100px; background-color: #11233a; opacity: 0.95; border: none; margin-bottom: 0; -webkit-transform: translate3d(0, -100px, 0); transform: translate3d(0, -100px, 0); -webkit-transition: all 0.4s ease-out; transition: all 0.4s ease-out; z-index: 1001; }
#main_nav.show-nav { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
#main_nav #navbar { margin-top: 25px; border: none; -webkit-box-shadow: none; box-shadow: none; }
#main_nav #navbar ul li { margin-right: 20px; }
#main_nav #navbar ul li.logo { display: none; }
@media (max-width: 991px) { #main_nav #navbar ul li.logo { display: block; } }
#main_nav #navbar ul li.logo img { width: 100px; height: auto; }
@media (min-width: 991px) and (max-width: 1200px) { #main_nav #navbar ul li { margin-right: 10px; } }
#main_nav #navbar ul li:last-child { margin-right: 0; }
#main_nav #navbar ul li.active a { color: #ffbb00; background-color: transparent; }
#main_nav #navbar ul li a { font-family: "Raleway", Helvetica, Arial, sans-serif; font-weight: 700; font-size: 18px; font-size: 1.125rem; color: white; text-transform: uppercase; -webkit-transition: all .3s ease-out; transition: all .3s ease-out; background: none; background-position: bottom; }
#main_nav #navbar ul li a:hover { color: #ffbb00; background: url("../img/underline.png") repeat-x; background-position: bottom; }
@media (max-width: 991px) { #main_nav #navbar ul li a:hover { background: none; } }
@media (max-width: 991px) { #main_nav #navbar ul li { background: url("../img/underline.png") repeat-x; background-position: top; margin-right: auto; margin-left: auto; margin-bottom: 20px; padding: 20px 0 0 0; }
  #main_nav #navbar ul li:first-child { background: none; padding: 0; } }
@media (max-width: 991px) and (max-width: 991px) { #main_nav #navbar ul li { margin-bottom: 15px; padding: 15px 0 0 0; } }

section#video_top { position: relative; overflow: hidden; width: 100%; height: 100vh; }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) { section#video_top { height: auto; } }
section#video_top .video-container video#video-intro-lg { width: 100%; max-width: 1920px; position: relative; -o-object-fit: cover; object-fit: cover; -o-object-position: center center; object-position: center center; }
@media (max-width: 768px) { section#video_top .video-container video#video-intro-lg { display: none; } }
section#video_top .video-container video#video-intro-xs { display: none; }
@media (max-width: 768px) { section#video_top .video-container video#video-intro-xs { overflow: hidden; width: 100%; height: 100vh; display: block; -o-object-fit: cover; object-fit: cover; -o-object-position: center center; object-position: center center; max-width: 768px; } }
section#video_top .to-bottom { position: absolute; left: 50%; -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); bottom: 5vh; z-index: 1000; -webkit-transition: all .2s ease-out; transition: all .2s ease-out; }
section#video_top .to-bottom:hover { bottom: 4vh; }
@media (max-width: 1024px) { section#video_top .to-bottom:hover { bottom: 5vh; } }
section#video_top .to-bottom a { display: inline-block; cursor: pointer; text-decoration: none; text-align: center; }
section#video_top .to-bottom a p { font-family: 400; font-size: 14px; font-size: 0.875rem; color: white; text-transform: uppercase; text-align: center; letter-spacing: 2px; margin-bottom: 0px; }
@media (max-width: 1024px) { section#video_top .to-bottom a img { max-width: 50px; height: auto; } }
@media (max-width: 767px) { section#video_top .to-bottom a img { max-width: 30px; } }
@media (max-width: 1024px) { section#video_top .to-bottom { bottom: 30px; } }
@media (max-width: 768px) { section#video_top .to-bottom { bottom: 10px; } }
@media (max-width: 767px) { section#video_top .to-bottom { bottom: 10px; } }
section#video_top .slider-video { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
@media (max-width: 767px) { section#video_top .slider-video { top: 50%; } }
section#video_top .slider-video .owl-item img { max-width: 900px; height: auto; margin: 0 auto; }

section#productos { overflow: hidden; }
section#productos.bg-productos { position: relative; background-image: url(../img/bg-productos.jpg); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover; }
section#productos .caption-productos { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
section#productos .caption-productos img { margin-bottom: 40px; max-width: 400px; }
@media (max-width: 767px) { section#productos .caption-productos { width: 90%; }
  section#productos .caption-productos img { max-width: 250px; margin: 0 auto; margin-bottom: 30px; } }
section#productos .slider-productos-container { position: relative; }
section#productos .slider-productos-container .btn-volver { position: absolute; z-index: 100; right: 20px; top: 20px; }
section#productos .slider-productos-container .btn-volver img { margin-right: 10px; }
section#productos .slider-productos-container .slider-productos { position: relative; }
section#productos .slider-productos-container .slider-productos .item { position: relative; height: 100vh; background-position: center !important; background-repeat: no-repeat !important; background-size: cover !important; }
section#productos .slider-productos-container .slider-productos .owl-nav { margin: 0; }
section#productos .slider-productos-container .slider-productos .owl-nav.disabled { display: none; }
section#productos .slider-productos-container .slider-productos .owl-next, section#productos .slider-productos-container .slider-productos .owl-prev { width: 58px; height: 84px; position: absolute; text-indent: -9999px; top: 50%; margin-top: -42px; cursor: pointer; opacity: 0.9; outline: none; }
section#productos .slider-productos-container .slider-productos .owl-next:hover, section#productos .slider-productos-container .slider-productos .owl-prev:hover { background-color: transparent; opacity: 0.5; }
section#productos .slider-productos-container .slider-productos .owl-next.disabled, section#productos .slider-productos-container .slider-productos .owl-prev.disabled { display: none; }
section#productos .slider-productos-container .slider-productos .owl-next { background: url(../img/next.png) no-repeat !important; right: 0px; }
@media (max-width: 768px) { section#productos .slider-productos-container .slider-productos .owl-next { background: url(../img/next-xs.png) no-repeat !important; right: 0px; width: 22px; height: 70px; margin-top: -60px; } }
section#productos .slider-productos-container .slider-productos .owl-prev { background: url(../img/prev.png) no-repeat !important; left: 0px; }
@media (max-width: 768px) { section#productos .slider-productos-container .slider-productos .owl-prev { background: url(../img/prev-xs.png) no-repeat !important; left: -35px; width: 22px; height: 70px; margin-top: -60px; } }

section#contacto { min-height: 480px; background-color: white; position: relative; padding-top: 90px; }
@media (max-width: 767px) { section#contacto { padding-top: 50px; min-height: 450px; } }
section#contacto h2 { font-family: "Raleway", Helvetica, Arial, sans-serif; font-size: 16px; font-size: 1rem; color: #11233a; text-transform: uppercase; margin-bottom: 30px; font-weight: 700; }
section#contacto form#mainContact .form-group { margin-bottom: 30px; }
section#contacto form#mainContact .form-group textarea { resize: none; min-height: 170px; padding: 15px; }
section#contacto form#mainContact .form-group #email-error.error { margin-top: 20px; color: tomato; }
section#contacto form#mainContact .form-group .form-control { background-color: white; color: #11233a; text-transform: uppercase; padding-left: 20px; border-radius: 0; border: 1px solid #11233a; font-family: "Raleway", Helvetica, Arial, sans-serif; font-size: 16px; -webkit-box-shadow: none; box-shadow: none; }
section#contacto form#mainContact .form-group ::-webkit-input-placeholder { color: #11233a; font-family: "Raleway", Helvetica, Arial, sans-serif; font-size: 16px; text-transform: uppercase; }
section#contacto form#mainContact .form-group ::-moz-placeholder { color: #11233a; font-family: "Raleway", Helvetica, Arial, sans-serif; font-size: 16px; text-transform: uppercase; }
section#contacto form#mainContact .form-group :-moz-placeholder { color: #11233a; font-family: "Raleway", Helvetica, Arial, sans-serif; font-size: 16px; text-transform: uppercase; }
section#contacto form#mainContact .form-group :-ms-input-placeholder { color: #11233a; font-family: "Raleway", Helvetica, Arial, sans-serif; font-size: 16px; text-transform: uppercase; }
section#contacto form#mainContact .btn-enviar { background-color: #ffbb00; color: white; text-transform: uppercase; padding: 10px 60px 5px 60px; border-radius: 0; border: none; font-family: "Raleway", Helvetica, Arial, sans-serif; font-weight: 700; font-size: 14px; width: 100%; }

header { position: relative; }

footer { min-height: 490px; background-color: #fff; text-align: center; padding: 30px; position: relative; }
@media (max-width: 767px) { footer { padding-left: 15px; padding-right: 15px; } }
footer .footer-inner { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 90%; }
@media (max-width: 767px) { footer .footer-inner { position: relative; top: auto; left: auto; -webkit-transform: none; transform: none; margin-top: 20px; display: table; margin-left: auto; margin-right: auto; } }
footer a#to-top { display: inline-block; cursor: pointer; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; position: relative; top: -20px; padding: 20px; }
footer a#to-top:hover { top: -30px; }
footer a#to-top img { max-width: 40px; height: auto; top: 0; }
footer img.logo-footer { width: 180px; height: auto; margin-bottom: 30px; }
footer .rrss { margin-bottom: 30px; }
footer .rrss .circle { background-color: #fff; border: 1px solid #11233a; height: 50px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; width: 50px; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
footer .rrss .circle .fa { font-size: 26px; margin-top: 12px; }
@media (max-width: 767px) { footer .rrss .circle .fa { font-size: 20px; margin-top: 10px; } }
@media (max-width: 767px) { footer .rrss .circle { height: 40px; width: 40px; } }
footer .rrss ul { padding-left: 0; list-style-type: none; }
footer .rrss ul li { display: inline-block; margin-right: 10px; }
footer .rrss ul li a { display: block; color: #11233a; -webkit-transition: all 0.1s ease-out; transition: all 0.1s ease-out; }
footer .rrss ul li a:hover { color: #FFC629; }
footer .rrss ul li a:hover .circle { background-color: #11233a; border: 1px solid #11233a; }
@media (max-width: 1024px) { footer .rrss ul li a:hover { color: #11233a; }
  footer .rrss ul li a:hover .circle { background-color: #fff; border: 1px solid #11233a; } }
footer .legal ul { padding: 0; list-style-type: none; }
footer .legal ul li { display: inline-block; }
footer .legal ul li a { font-family: 400; font-size: 16px; font-size: 1rem; color: #11233a; text-transform: uppercase; text-decoration: none; }
@media (max-width: 767px) { footer .legal ul li a { font-size: 13px; font-size: 0.8125rem; } }
footer .legal p { font-family: 400; font-size: 16px; font-size: 1rem; color: #11233a; text-transform: uppercase; text-decoration: none; }
@media (max-width: 767px) { footer .legal p { font-size: 12px; font-size: 0.75rem; } }
footer .copy p { font-family: 400; font-size: 16px; font-size: 1rem; color: #11233a; text-transform: uppercase; text-decoration: none; }
@media (max-width: 767px) { footer .copy p { font-size: 13px; font-size: 0.8125rem; } }
