

body{
	background-color: #fff;
}

.section{
	//display: block;
	position: relative;
	//min-height: 800px;
}

span{
	&.bold{
		font-weight: $bold;
	}
}


//centramos la navegacion
.navbar{
	&.center{
		.navbar-inner{
			text-align: center;
			.nav{
				float: none;
				display:inline-block;
				vertical-align: middle;
			}
		}
	}
}
/*----*/

.btn-blanco{
	background-color: transparent;
	border-radius: 0;
	border-color: white;
	box-shadow: none;
	font-family: $font;
	font-weight: $bold;
	color: white;
	text-transform: uppercase;
	font-size: 15px;
	// padding-top: 10px;
	// padding-bottom: 10px;
	// padding-left: 40px;
	// padding-right: 40px;
	padding: 8px 60px 4px 60px;
	display: block;
	max-width:260px;
	margin: 0 auto;
	transition: all .3s ease-out;
	&:hover{
		background-color: $amarillo;
		color: $azul;
		border-color: transparent;
	}

}

%btn-volver{
	background-color: transparent;
	border-radius: 0;
	border-color: white;
	box-shadow: none;
	font-family: $font;
	font-weight: $bold;
	color: white;
	text-transform: uppercase;
	font-size: 15px;

	display: inline-block;
//	max-width:260px;
	margin: 0 auto;
	padding:10px 20px 10px 20px;
	transition: all .3s ease-out;
	&:hover{
		background-color: $amarillo;
		color: $azul;
		border-color: transparent;
	}
	p{
		margin-top: 4px;
	}
}

#productos, #accesorios, #drinks, #parleyvxo{
	position:relative;
}
.btn-bajar{
	@include centerer(true, false);
	bottom: 20px;
	display:block;
	transition: all 0.3s ease-out;
	&:hover{
		bottom: 15px;
	}
	img{
		//max-width:0px;
		//height: auto;
		@media(max-width:768px){
			max-width:50px;
			height: auto;
		}
		@media(max-width:767px){
			max-width:30px;
			height: auto;
		}
	}
	@media(max-width:767px){
		bottom: 10px;
	}
}










